body {
  background: #404040;
  color: #f8f8f8;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.button {

  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  background-color: #404040;
  padding: 13px 22px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button:hover {
  background-color: gray;
}

#website {
  margin: 50px;
  font-size: 12px;
}

#data-points {
  margin-top: 50px;
  font-size: 12px;
}


.sidebar {
  width: 25%;
  margin: 0px;
  padding: 0;
  font-family: Lato, sans-serif;
  text-align: center;

}

.text-side {
  width: 90%;
  margin: 15px auto 15px auto;
  text-align: center;
}

a:link,
a:visited {
  color: #f8f8f8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

#map {

  border-left: solid white 1px;
  position: absolute;
  left: 25%;
  width: 74.9%;
  top: 0;
  bottom: 0;
}

.leaflet-popup-photo a.leaflet-popup-close-button {
  top: -13px;
  right: -13px;
  background-color: #fff;
  padding: 5px;
  border-radius: 12px;
  width: 15px;
  height: 15px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  color: #555;
}



.leaflet-popup-photo a.leaflet-popup-close-button:hover {
  color: #333;
  background-color: #eee;
}

.leaflet-popup-photo .leaflet-popup-content-wrapper {
  padding: 6px;
  border-radius: 4px;
}

.leaflet-popup-photo .leaflet-popup-content {
  margin: 0;
  width: 100%;
}

.leaflet-popup-photo .leaflet-popup-tip {
  background: white;
}

.leaflet-popup-photo img,
.leaflet-popup-photo video {
  display: block;
  width: 100%;

}

.leaflet-popup-photo p {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  margin: 5px 0 0 0;
}