body {
    background: #404040;
    color: #f8f8f8;
    font: 500 20px/26px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
  

  .sidebar {
    width: 30%;
    margin: 10px;
    
    text-align: center;

  }
  .text-side{
    width: 80%;
  }

  a:link, a:visited {
    color: #f8f8f8;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    opacity: 0.7;
  }
  
  #map {
    
    border-left: solid white 1px;
    position: absolute;
    left: 30%;
    width: 69%;
    top: 0;
    bottom: 0;
  }